@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body{
    background-color: #99a8c4;
    height: 100vh;
}

h1{
    letter-spacing: 2px;
    text-shadow: 2px 2px #621a00;
    font-size: 5rem;
    color: #ff9d00f2;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    gap: 32px;
}

.lib-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px;
    padding: 16px;
    background-color: #8ba1ca;
    border: 4px outset #7b8eb3;
    box-shadow: 15px 15px #4b5361ba;
}

.card{
    width: 200px;
    height: 150px;
    padding: 16px;
    border: 4px outset #7b8eb3;
    box-shadow: 5px 5px #4b5361ba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.add-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: #ff9d00f2;
    text-shadow: 2px 2px #621a00;
    background-color: gray;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.add-book{
    transform: translate(-1%, -8%);
}
.add-book:hover, button:hover{
    cursor: pointer;
}

.book{
    width: 200px;
    height: 150px;
    padding: 8px;
    border: 4px outset #7b8eb3;
    box-shadow: 5px 5px #4b5361ba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

dialog{
    height: auto;
    width: 20vw;
    background-color: #99a8c4;
    align-self: center;
    justify-self: center;
    padding: 16px;
    border: 1px outset #7b8eb3;
    padding: 20px;
    border-radius: 8px;
}
dialog::backdrop {
    background-color: rgba(0,0,0,0.5);
}
form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1rem;
}
form>div{
    display: flex;
    gap: 16px;
}
input[type = "text"], select{
    display: flex;
    width: 100vw;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px outset #7b8eb3;
    border-radius: 5px;
}
input:focus{
    outline: none;
}
button{
    width: 50%;
    height: 35px;
    font-size: 1rem;
    background-color: #ff9d00f2;
    border: 1px outset #7b8eb3;
    border-radius: 5px;
}
.delete-btn{
    height: 25px;
    width: 80px;
    font-size: smaller;
    margin-top: 10px;
}
.close-form{
    justify-self: flex-end;
}

.switch {
  position: relative;
  display: flex;
  width: 40px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 10px; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: .4s;
  border-radius: 50%; 
}

input:checked + .slider {
  background-color: #ff9d00f2;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.card-content{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 10px;
}